<!DOCTYPE html>
<html>
    <head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<!-- <link rel="icon" type="image/png" href="{{url}}favicon-32x32.png"> -->
		<link rel="stylesheet" href="./css/mddaf.css" />
    </head>

    <body ng-app="MDDAF">
        <div id="app-container">
            <!-- Overlay -->

            <!-- <div id="overlay"></div> -->

            <div id="content" class="container">
                <h1 class="loading-main sti sti-lg sti-spin sti-config"></h1>
            </div>

        </div>
        <div id="viewStage"></div>
        <!-- Sidemenu -->
        <div id="sideCtrl" ng-controller='sideMenuCtrl'>
            <div id='menubtn' ng-hide="visible" ng-click="show()">
                <div class='sti-icon sti-menu  sti-2x'></div>
            </div>
            <div id='sidemenu' >
                <div class='item' ng-click="hide()">
                    <div class='icon'>
                        <i class='sti-icon sti-fw sti-angle-left sti-2x'></i>
                    </div>
                    <div class='txt'>
                        HIDE MENU
                    </div>
                </div>
                <div class='item' ng-click="nav(item.view)" ng-repeat="item in menu.items track by item.id">
                    <div class='icon'>
                        <i class=''></i>
                    </div>
                    <div class='txt'>
                        [[item.label]]
                    </div>
                </div>
            </div>

        </div>
        <!-- INdicator -->
        <div id="indicator" class="info">
            <i class="sti sti-lg sti-spin sti-config"></i>
            <span class="txt">LOADING</span>
        </div>
        <script>
            var head_conf = {
                screens: [240, 320, 480, 640, 768, 800, 880, 900, 920, 940, 964, 1024, 1280, 1440, 1680, 1920]
            };
        </script>
        <script data-headjs-load="./js/mddaf-deps.js" src="./lib/js/head.min.js"></script>
    </body>
</html>
