

//Animations
@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(1, 1); opacity: 0.0;}
    50% {-webkit-transform: scale(1.1, 1.1); opacity: 1.0;}
    100% {-webkit-transform: scale(1, 1); opacity: 0.0;}
}


//MixIns
@mixin border-rad($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}
@mixin clr() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

// Tooltip Arrow
@mixin tip-arrow($arrow-position, $arrow-color, $arrow-size) {
    &:after {
      position: absolute;
      border: solid transparent;
      content: " ";
      top: auto;
      left: auto;
      height: 0;
      width: 0;
      margin: 0;
      border-color: transparent;
      border-width: $arrow-size;
      pointer-events: none;
    }
    @if $arrow-position == "top" {
      &:after {
        bottom: 100%;
        border-bottom-color: $arrow-color;
        margin-left: (-$arrow-size);
        left: 50%;
      }
    }
    @if $arrow-position == "right" {
      &:after {
        left: 100%;
        border-left-color: $arrow-color;
        margin-top: (-$arrow-size);
        top: 50%;
      }
    }
    @if $arrow-position == "bottom" {
      &:after {
        top: 100%;
        border-top-color: $arrow-color;
        margin-left: (-$arrow-size);
        left: 50%;
      }
    }
    @if $arrow-position == "left" {
      &:after {
        right: 100%;
        border-right-color: $arrow-color;
        margin-top: (-$arrow-size);
        top: 50%;
      }
    }
}

//Side Radius
@mixin side-radius($r,$side){
    @if $side == left{
        border-bottom-left-radius:$r;
        border-top-left-radius:$r;
        -moz-border-bottom-left-radius:$r;
        -moz-border-top-left-radius:$r;
        -webkit-border-bottom-left-radius:$r;
        -webkit-border-top-left-radius:$r;
    }
    @if $side == right{
        border-bottom-right-radius:$r;
        border-top-right-radius:$r;
        -moz-border-bottom-right-radius:$r;
        -moz-border-top-right-radius:$r;
        -webkit-border-bottom-right-radius:$r;
        -webkit-border-top-right-radius:$r;
    }
    @if $side == top{
        border-top-left-radius:$r;
        border-top-right-radius:$r;
        -moz-border-top-left-radius:$r;
        -moz-border-top-right-radius:$r;
        -webkit-border-top-left-radius:$r;
        -webkit-border-top-right-radius:$r;
    }
    @if $side == bottom{
        border-bottom-left-radius:$r;
        border-bottom-right-radius:$r;
        -moz-border-bottom-left-radius:$r;
        -moz-border-bottom-right-radius:$r;
        -webkit-border-bottom-left-radius:$r;
        -webkit-border-bottom-right-radius:$r;
    }
    @if $side == all{
        border-radius:$r;
        -webkit-border-radius:$r;
        -moz-border-radius:$r;
    }
}
//Padding Fix
@mixin pad-fix(){
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

//raised depth levels
@mixin raised_lvl($lvl){
	$shadow_color: #222;

	@if $lvl == 1{
		box-shadow: 0 1px 3px rgba($shadow_color,0.12), 0 1px 2px rgba($shadow_color,0.24);
		z-index: 1;
	}
	@if $lvl == 2{
		box-shadow: 0 3px 6px rgba($shadow_color,0.16), 0 3px 6px rgba($shadow_color,0.23);
		z-index: 2;
	}
	@if $lvl == 3{
		box-shadow: 0 10px 20px rgba($shadow_color,0.19), 0 6px 6px rgba($shadow_color,0.23);
		z-index: 3;
	}
	@if $lvl == 4{
		box-shadow: 0 14px 28px rgba($shadow_color,0.25), 0 10px 10px rgba($shadow_color,0.22);
		z-index: 4;
	}
	@if $lvl == 5{
		box-shadow: 0 19px 38px rgba($shadow_color,0.30), 0 15px 12px rgba($shadow_color,0.22);
		z-index: 5;
	}
}


@mixin mat-btn-sm($bg,$txt){
	&:hover{
		@include raised-lvl(1);
		background: lighten($bg,1.25%);
	}
	// width:45%;
	text-align:center;
	padding: .75em;
	font-size:.85em;
	color: $txt;
	background: $bg;
	transition: 300ms;
    min-width:40%;
    margin-left:5%;
    margin-right:5%;
	.btn-txt{
		@include responsive_txt(.75em,.95em,.95em,1em,1.25em,1.25em);
	}
	.btn-icon{

	}
}

.clearfix{
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin pad_fix(){
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@mixin responsive_attr($attr,$xt,$t,$sm,$md,$lg,$xl){
  #{$attr}: $xt;
	@include media($xtiny){
		#{$attr}: $xt;
	}
	@include media($tiny){
		#{$attr}: $t;
	}
	@include media($sml){
		#{$attr}: $sm;
	}
	@include media($med){
		#{$attr}: $md;
	}
	@include media($lrg){
		#{$attr}: $lg;
	}
	@include media($xlrg){
		#{$attr}: $xl;
	}
}

@mixin responsive_txt($xt,$t,$sm,$md,$lg,$xl){

	@include media($xtiny){
		font-size: $xt;
	}
	@include media($tiny){
		font-size: $t;
	}
	@include media($sml){
		font-size: $sm;
	}
	@include media($med){
		font-size: $md;
	}
	@include media($lrg){
		font-size: $lg;
	}
	@include media($xlrg){
		font-size: $xl;
	}
}

@mixin responsive_sq($xt,$t,$sm,$md,$lg,$xl){

	@include media($xtiny){
		@include size($xt);
	}
	@include media($tiny){
		@include size($t);
	}
	@include media($sml){
		@include size($sm);
	}
	@include media($med){
		@include size($md);
	}
	@include media($lrg){
		@include size($lg);
	}
	@include media($xlrg){
		@include size($xl);
	}
}

@mixin mat-btn-sm($bg,$txt){
	&:hover{
		@include raised-lvl(1);
		background: lighten($bg,1.25%);
	}
	// width:45%;
	text-align:center;
	padding: .75em;
	font-size:.85em;
	color: $txt;
	background: $bg;
	transition: 300ms;
    min-width:40%;
    margin-left:5%;
    margin-right:5%;
    overflow:hidden
  & >svg{
    fill: green !important
  }
	.btn-txt{
		@include responsive_txt(.75em,.95em,.95em,1em,1.25em,1.25em);
	}
	.btn-icon{

	}
}




//Animations
