
//breakpoints
	$tiny: max-width em(320);
	$mobile: max-width em(641);
	$hybrid: min-width em(641) max-width em(964);
	$desk: min-width em(965);
	//grid loops
	$sizes: 12;

	@while $sizes > 0{

	  .col-#{$sizes}{

			@include span-columns(12);
			@include media($desk){
				@include span-columns($sizes);
			}
			@include media($mobile){
				input{
					width: 100%;
					margin:0;
					margin-top: .5em;
				}
			}
		margin:0;
	  }
	  .col-pad-#{$sizes}{
		@include span-columns($sizes);
		@include media($mobile){
			@include span-columns(0);
		}
		@include media($hybrid){
			@include span-columns(0);
		}
	  }
	  .col-shift-#{$sizes}{
		@include shift($sizes);
		@include media($mobile){
			@include shift(0);
		}
		@include media($hybrid){
			@include shift(0);
		}
	  }

	  $sizes: $sizes - 1;
	}


	.show-mobile{
		display:inline-block !important;
		@include media($desk){
			display:none !important;
		}
		@include media($hybrid){
			display:none !important;
		}
	}

	.show-hyb{
		display:inline-block;
		@include media($mobile){
			display:none !important;
		}
		@include media($hybrid){
		}
		@include media($desk){
			display:none !important;
		}
	}


	.show-desk{
		display:none;
		@include media($mobile){
			display:none !important;
		}
		@include media($hybrid){
			display:none !important;
		}
		@include media($desk){
			display:inline-block !important;
		}
	}

    .lt-768{
        .hide-mobile{
            display: none !important;
        }
		table{
			font-size: 0.8em;
		}
    }
