//source http://themes-pixeden.com/font-demos/7-stroke/

@font-face {
	font-family: 'Pe-icon-7-stroke';
	src:url('./src/lib/fonts/Pe-icon-7-stroke.eot?d7yf1v');
	src:url('./src/lib/fonts/Pe-icon-7-stroke.eot?#iefixd7yf1v') format('embedded-opentype'),
		url('./src/lib/fonts/Pe-icon-7-stroke.woff?d7yf1v') format('woff'),
		url('./src/lib/fonts/Pe-icon-7-stroke.ttf?d7yf1v') format('truetype'),
		url('./src/lib/fonts/Pe-icon-7-stroke.svg?d7yf1v#Pe-icon-7-stroke') format('svg');
	font-weight: normal;
	font-style: normal;
}

//sti stands for stroke icon

[class^="sti-"], [class*=" sti-"] {
	display: inline-block;
	font-family: 'Pe-icon-7-stroke';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

//
//'barrowed' from font-awesome
//
/* makes the font 33% larger relative to the icon container */
.sti-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.sti-2x {
  font-size: 2em;
}
.sti-3x {
  font-size: 3em;
}
.sti-4x {
  font-size: 4em;
}
.sti-5x {
  font-size: 5em;
}
.sti-fw {
  width: 1.28571429em;
  text-align: center;
}
.sti-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}
.sti-ul > li {
  position: relative;
}
.sti-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}
.sti-li.sti-lg {
  left: -1.85714286em;
}
.sti-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  border-radius: .1em;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.fa.pull-left {
  margin-right: .3em;
}
.fa.pull-right {
  margin-left: .3em;
}
.sti-spin {
  -webkit-animation: sti-spin 2s infinite linear;
  animation: sti-spin 2s infinite linear;
}
.sti-pulse {
  transition: 250ms;
  -webkit-animation: sti-pulse .85s infinite steps(128);
  animation: sti-pulse .85s infinite steps(128);
}
@-webkit-keyframes sti-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes sti-pulse {
  0% {
    zoom: 100%;
  }
  20% {
    zoom: 120%;
  }
  40% {
    zoom: 135%;
  }
  50% {
    zoom: 150%;
  }
  60% {
    zoom: 135%;
  }
  80% {
    zoom: 120%;
  }
  100% {
    zoom: 100%;
  }
}
.sti-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.sti-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.sti-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.sti-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.sti-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}
:root .sti-rotate-90,
:root .sti-rotate-180,
:root .sti-rotate-270,
:root .sti-flip-horizontal,
:root .sti-flip-vertical {
  filter: none;
}
.sti-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}
.sti-stack-1x,
.sti-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.sti-stack-1x {
  line-height: inherit;
}
.sti-stack-2x {
  font-size: 2em;
}
.sti-inverse {
  color: #ffffff;
}

//
//'barrowed' from font-awesome
//

//
//Icons
//
.sti-album:before {
	content: "\e6aa";
}
.sti-arc:before {
	content: "\e6ab";
}
.sti-back-2:before {
	content: "\e6ac";
}
.sti-bandaid:before {
	content: "\e6ad";
}
.sti-car:before {
	content: "\e6ae";
}
.sti-diamond:before {
	content: "\e6af";
}
.sti-door-lock:before {
	content: "\e6b0";
}
.sti-eyedropper:before {
	content: "\e6b1";
}
.sti-female:before {
	content: "\e6b2";
}
.sti-gym:before {
	content: "\e6b3";
}
.sti-hammer:before {
	content: "\e6b4";
}
.sti-headphones:before {
	content: "\e6b5";
}
.sti-helm:before {
	content: "\e6b6";
}
.sti-hourglass:before {
	content: "\e6b7";
}
.sti-leaf:before {
	content: "\e6b8";
}
.sti-magic-wand:before {
	content: "\e6b9";
}
.sti-male:before {
	content: "\e6ba";
}
.sti-map-2:before {
	content: "\e6bb";
}
.sti-next-2:before {
	content: "\e6bc";
}
.sti-paint-bucket:before {
	content: "\e6bd";
}
.sti-pendrive:before {
	content: "\e6be";
}
.sti-photo:before {
	content: "\e6bf";
}
.sti-piggy:before {
	content: "\e6c0";
}
.sti-plugin:before {
	content: "\e6c1";
}
.sti-refresh-2:before {
	content: "\e6c2";
}
.sti-rocket:before {
	content: "\e6c3";
}
.sti-settings:before {
	content: "\e6c4";
}
.sti-shield:before {
	content: "\e6c5";
}
.sti-smile:before {
	content: "\e6c6";
}
.sti-usb:before {
	content: "\e6c7";
}
.sti-vector:before {
	content: "\e6c8";
}
.sti-wine:before {
	content: "\e6c9";
}
.sti-cloud-upload:before {
	content: "\e68a";
}
.sti-cash:before {
	content: "\e68c";
}
.sti-close:before {
	content: "\e680";
}
.sti-bluetooth:before {
	content: "\e68d";
}
.sti-cloud-download:before {
	content: "\e68b";
}
.sti-way:before {
	content: "\e68e";
}
.sti-close-circle:before {
	content: "\e681";
}
.sti-id:before {
	content: "\e68f";
}
.sti-angle-up:before {
	content: "\e682";
}
.sti-wristwatch:before {
	content: "\e690";
}
.sti-angle-up-circle:before {
	content: "\e683";
}
.sti-world:before {
	content: "\e691";
}
.sti-angle-right:before {
	content: "\e684";
}
.sti-volume:before {
	content: "\e692";
}
.sti-angle-right-circle:before {
	content: "\e685";
}
.sti-users:before {
	content: "\e693";
}
.sti-angle-left:before {
	content: "\e686";
}
.sti-user-female:before {
	content: "\e694";
}
.sti-angle-left-circle:before {
	content: "\e687";
}
.sti-up-arrow:before {
	content: "\e695";
}
.sti-angle-down:before {
	content: "\e688";
}
.sti-switch:before {
	content: "\e696";
}
.sti-angle-down-circle:before {
	content: "\e689";
}
.sti-scissors:before {
	content: "\e697";
}
.sti-wallet:before {
	content: "\e600";
}
.sti-safe:before {
	content: "\e698";
}
.sti-volume2:before {
	content: "\e601";
}
.sti-volume1:before {
	content: "\e602";
}
.sti-voicemail:before {
	content: "\e603";
}
.sti-video:before {
	content: "\e604";
}
.sti-user:before {
	content: "\e605";
}
.sti-upload:before {
	content: "\e606";
}
.sti-unlock:before {
	content: "\e607";
}
.sti-umbrella:before {
	content: "\e608";
}
.sti-trash:before {
	content: "\e609";
}
.sti-tools:before {
	content: "\e60a";
}
.sti-timer:before {
	content: "\e60b";
}
.sti-ticket:before {
	content: "\e60c";
}
.sti-target:before {
	content: "\e60d";
}
.sti-sun:before {
	content: "\e60e";
}
.sti-study:before {
	content: "\e60f";
}
.sti-stopwatch:before {
	content: "\e610";
}
.sti-star:before {
	content: "\e611";
}
.sti-speaker:before {
	content: "\e612";
}
.sti-signal:before {
	content: "\e613";
}
.sti-shuffle:before {
	content: "\e614";
}
.sti-shopbag:before {
	content: "\e615";
}
.sti-share:before {
	content: "\e616";
}
.sti-server:before {
	content: "\e617";
}
.sti-search:before {
	content: "\e618";
}
.sti-film:before {
	content: "\e6a5";
}
.sti-science:before {
	content: "\e619";
}
.sti-disk:before {
	content: "\e6a6";
}
.sti-ribbon:before {
	content: "\e61a";
}
.sti-repeat:before {
	content: "\e61b";
}
.sti-refresh:before {
	content: "\e61c";
}
.sti-add-user:before {
	content: "\e6a9";
}
.sti-refresh-cloud:before {
	content: "\e61d";
}
.sti-paperclip:before {
	content: "\e69c";
}
.sti-radio:before {
	content: "\e61e";
}
.sti-note2:before {
	content: "\e69d";
}
.sti-print:before {
	content: "\e61f";
}
.sti-network:before {
	content: "\e69e";
}
.sti-prev:before {
	content: "\e620";
}
.sti-mute:before {
	content: "\e69f";
}
.sti-power:before {
	content: "\e621";
}
.sti-medal:before {
	content: "\e6a0";
}
.sti-portfolio:before {
	content: "\e622";
}
.sti-like2:before {
	content: "\e6a1";
}
.sti-plus:before {
	content: "\e623";
}
.sti-left-arrow:before {
	content: "\e6a2";
}
.sti-play:before {
	content: "\e624";
}
.sti-key:before {
	content: "\e6a3";
}
.sti-plane:before {
	content: "\e625";
}
.sti-joy:before {
	content: "\e6a4";
}
.sti-photo-gallery:before {
	content: "\e626";
}
.sti-pin:before {
	content: "\e69b";
}
.sti-phone:before {
	content: "\e627";
}
.sti-plug:before {
	content: "\e69a";
}
.sti-pen:before {
	content: "\e628";
}
.sti-right-arrow:before {
	content: "\e699";
}
.sti-paper-plane:before {
	content: "\e629";
}
.sti-delete-user:before {
	content: "\e6a7";
}
.sti-paint:before {
	content: "\e62a";
}
.sti-bottom-arrow:before {
	content: "\e6a8";
}
.sti-notebook:before {
	content: "\e62b";
}
.sti-note:before {
	content: "\e62c";
}
.sti-next:before {
	content: "\e62d";
}
.sti-news-paper:before {
	content: "\e62e";
}
.sti-musiclist:before {
	content: "\e62f";
}
.sti-music:before {
	content: "\e630";
}
.sti-mouse:before {
	content: "\e631";
}
.sti-more:before {
	content: "\e632";
}
.sti-moon:before {
	content: "\e633";
}
.sti-monitor:before {
	content: "\e634";
}
.sti-micro:before {
	content: "\e635";
}
.sti-menu:before {
	content: "\e636";
}
.sti-map:before {
	content: "\e637";
}
.sti-map-marker:before {
	content: "\e638";
}
.sti-mail:before {
	content: "\e639";
}
.sti-mail-open:before {
	content: "\e63a";
}
.sti-mail-open-file:before {
	content: "\e63b";
}
.sti-magnet:before {
	content: "\e63c";
}
.sti-loop:before {
	content: "\e63d";
}
.sti-look:before {
	content: "\e63e";
}
.sti-lock:before {
	content: "\e63f";
}
.sti-lintern:before {
	content: "\e640";
}
.sti-link:before {
	content: "\e641";
}
.sti-like:before {
	content: "\e642";
}
.sti-light:before {
	content: "\e643";
}
.sti-less:before {
	content: "\e644";
}
.sti-keypad:before {
	content: "\e645";
}
.sti-junk:before {
	content: "\e646";
}
.sti-info:before {
	content: "\e647";
}
.sti-home:before {
	content: "\e648";
}
.sti-help2:before {
	content: "\e649";
}
.sti-help1:before {
	content: "\e64a";
}
.sti-graph3:before {
	content: "\e64b";
}
.sti-graph2:before {
	content: "\e64c";
}
.sti-graph1:before {
	content: "\e64d";
}
.sti-graph:before {
	content: "\e64e";
}
.sti-global:before {
	content: "\e64f";
}
.sti-gleam:before {
	content: "\e650";
}
.sti-glasses:before {
	content: "\e651";
}
.sti-gift:before {
	content: "\e652";
}
.sti-folder:before {
	content: "\e653";
}
.sti-flag:before {
	content: "\e654";
}
.sti-filter:before {
	content: "\e655";
}
.sti-file:before {
	content: "\e656";
}
.sti-expand1:before {
	content: "\e657";
}
.sti-exapnd2:before {
	content: "\e658";
}
.sti-edit:before {
	content: "\e659";
}
.sti-drop:before {
	content: "\e65a";
}
.sti-drawer:before {
	content: "\e65b";
}
.sti-download:before {
	content: "\e65c";
}
.sti-display2:before {
	content: "\e65d";
}
.sti-display1:before {
	content: "\e65e";
}
.sti-diskette:before {
	content: "\e65f";
}
.sti-date:before {
	content: "\e660";
}
.sti-cup:before {
	content: "\e661";
}
.sti-culture:before {
	content: "\e662";
}
.sti-crop:before {
	content: "\e663";
}
.sti-credit:before {
	content: "\e664";
}
.sti-copy-file:before {
	content: "\e665";
}
.sti-config:before {
	content: "\e666";
}
.sti-compass:before {
	content: "\e667";
}
.sti-comment:before {
	content: "\e668";
}
.sti-coffee:before {
	content: "\e669";
}
.sti-cloud:before {
	content: "\e66a";
}
.sti-clock:before {
	content: "\e66b";
}
.sti-check:before {
	content: "\e66c";
}
.sti-chat:before {
	content: "\e66d";
}
.sti-cart:before {
	content: "\e66e";
}
.sti-camera:before {
	content: "\e66f";
}
.sti-call:before {
	content: "\e670";
}
.sti-calculator:before {
	content: "\e671";
}
.sti-browser:before {
	content: "\e672";
}
.sti-box2:before {
	content: "\e673";
}
.sti-box1:before {
	content: "\e674";
}
.sti-bookmarks:before {
	content: "\e675";
}
.sti-bicycle:before {
	content: "\e676";
}
.sti-bell:before {
	content: "\e677";
}
.sti-battery:before {
	content: "\e678";
}
.sti-ball:before {
	content: "\e679";
}
.sti-back:before {
	content: "\e67a";
}
.sti-attention:before {
	content: "\e67b";
}
.sti-anchor:before {
	content: "\e67c";
}
.sti-albums:before {
	content: "\e67d";
}
.sti-alarm:before {
	content: "\e67e";
}
.sti-airplay:before {
	content: "\e67f";
}
